
<!-- main container -->
<div class="container">

    <!-- main column-->
    <div class="column">

      <!-- hero banner -->
      <section class="hero-banner bg-light py-5">
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-lg-5 offset-lg-1 order-lg-1">
              <p>Recipe previews go on this side?</p>
            </div>
            <div class="col-lg-5">
                <h1 class="mt-3">Browse our collection of cocktails & post a recipe of your own!</h1>
                <p class="lead text-secondary my-5">
                  “Fill with mingled cream and amber,
                  I will drain that glass again.
                  Such hilarious visions clamber
                  Through the chamber of my brain —
                  Quaintest thoughts — queerest fancies
                  Come to life and fade away;
                  What care I how time advances?
                  I am drinking ale today.” -Edgar Allen Poe </p>
                {{#if loggedIn}}
                <a href="/add-recipe" class="btn btn-outline-secondary btn-lg border">Add New Recipe</a>
                {{/if}}
            </div>
        </div>
    </div>
</section>

      {{#each recipes as |recipe|}}
      <div class="card-column"></div>
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Author: {{recipe.username}}</h6>
    {{/each}}
    <ul class ='ingredients-container'>
      {{#each recipes.ingredients as |ingredient|}}
      <li class = 'ingredient'>{{ingredient.name}}: {{ingredient.quantity}} + {{ingredient.unit}}</li>
    </ul>
    {{/each}}
    </div>
  </div>


  </div>
</div>

